<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.LogPersonalData.Properties.Settings.LogPersondataTraekConnectionString"
            connectionString="Data Source=svsql01;Initial Catalog=LogPersondataTraek;User ID=LogPersonDataTraek_afloeserAehW;Password=ITzAPu55L3W1th500Br1ckZ"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>