<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Afloeser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Afloeser_koderConnectionString" connectionString="Data Source=svsql;Initial Catalog=Afloeser_koder;User ID=Afloeser;Password=XXX"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <globalization culture="da-DK" uiCulture="da-DK" />
    <authentication mode="Windows" />
    <authorization>
      <allow roles="SKB\Afløserkoder Administrator" />
      <allow roles="SKB\Afløserkoder Tjørnehaven" />
      <allow roles="SKB\Afløserkoder Akut team Fælles nat (A&amp;T)" />
      <allow roles="SKB\Afløserkoder Baunegården" />
      <allow roles="SKB\Afløserkoder Bøgehaven" />
      <allow roles="SKB\Afløserkoder Dagmargården" />
      <allow roles="SKB\Afløserkoder Dalbogård" />
      <allow roles="SKB\Afløserkoder Kildegården" />
      <allow roles="SKB\Afløserkoder Møllehjørnet" />
      <allow roles="SKB\Afløserkoder PBL" />
      <allow roles="SKB\Afløserkoder Præstehaven" />
      <allow roles="SKB\Afløserkoder Ryvang" />
      <allow roles="SKB\Afløserkoder Søkilde" />
      <allow roles="SKB\Afløserkoder Søndervang" />
      <allow roles="SKB\Afløserkoder Sygeplejen Skanderborg" />
      <allow roles="SKB\Afløserkoder Kildegården Korttid" />
      <allow roles="SKB\Afløserkoder Sølund Sundhed"/>
      <deny users="*" />
    </authorization>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Afloeser.Properties.Settings>
      <setting name="fqdn" serializeAs="String">
        <value>skb.local</value>
      </setting>
      <setting name="userID_LC" serializeAs="String">
        <value>skbwebuser</value>
      </setting>
      <setting name="pass_LC" serializeAs="String">
        <value>XXXX</value>
      </setting>
      <setting name="temporary_pass" serializeAs="String">
        <value>XXXX</value>
      </setting>
      <setting name="username_admin" serializeAs="String">
        <value>LDAP-RW-SVC</value>
      </setting>
      <setting name="password_admin" serializeAs="String">
        <value>XXXX</value>
      </setting>
      <setting name="Afloeser_PDataGetName_liveCycleService_PDataOnline_PData_GetNameFromCprService"
        serializeAs="String">
        <value>http://svlpm2:8080/soap/services/PDataOnline/PData_GetNameFromCpr</value>
      </setting>
      <setting name="Afloeser_PDataValidateSocialSecurity_liveCycleService_PDataOnline_ValidateCprService"
        serializeAs="String">
        <value>http://svlpm2:8080/soap/services/PDataOnline/ValidateCpr</value>
      </setting>
      <setting name="ldapPath" serializeAs="String">
        <value>LDAP://OU=Vikarer,OU=Aeldre Handicap fagsekretariat,OU=Aeldre,OU=Skanderborg Kommune,DC=skb,DC=local</value>
      </setting>
      <setting name="connectionString" serializeAs="String">
        <value>Data Source=svsql01;Initial Catalog=LogPersondataTraek;User ID=LogPersonDataTraek_afloeserAehW;Password=XXX</value>
      </setting>
      <setting name="validGroupList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>IT-udvikler;VALUE=UDVIK</string>
            <string>Afløserkoder Administrator;VALUE=admin</string>
            <!--<string>Afløserkoder Administrator;VALUE=SOEL</string>-->
            <string>Afløserkoder Tjørnehaven;VALUE=TJAE</string>
            <string>Afløserkoder Akut team Fælles nat (A&amp;T);VALUE=AKUT</string>
            <string>Afløserkoder Baunegården;VALUE=BAUG</string>
            <string>Afløserkoder Bøgehaven;VALUE=BOEG</string>
            <string>Afløserkoder Dagmargården;VALUE=DAAG</string>
            <string>Afløserkoder Dalbogård;VALUE=DALB</string>
            <string>Afløserkoder Kildegården;VALUE=KILD</string>
            <string>Afløserkoder Møllehjørnet;VALUE=MOEL</string>
            <string>Afløserkoder PBL;VALUE=PBL</string>
            <string>Afløserkoder Præstehaven;VALUE=PRAE</string>
            <string>Afløserkoder Ryvang;VALUE=RYVG</string>
            <string>Afløserkoder Søkilde;VALUE=SOEK</string>
            <string>Afløserkoder Kildegården Korttid;VALUE=KORT</string>
            <string>Afløserkoder Sygeplejen Skanderborg;VALUE=SKB</string>
            <string>Afløserkoder Søndervang;VALUE=SOEN</string>
            <string>Afløserkoder Sølund Sundhed;VALUE=SOEL</string>
          </ArrayOfString>
        </value>
      </setting>
    </Afloeser.Properties.Settings>
  </applicationSettings>
</configuration>
